/* 
@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .filterinput {
    font-size: 14px;
    width: 500px;
  }
} 


@media screen and (min-width: 993px) and (max-width: 1200px) {

  .filterinput {
  font-size: 14px;
  width: 400px;
}
}




@media screen and (min-width: 769px) and (max-width: 992px) {
  .filterinput {
 
  font-size: 14px;
  width: 300px;
}
}

@media screen and (min-width: 577px) and (max-width: 768px)  {
  .filterinput {
 
  font-size: 12px;
  width: 200px;
}
}
 */



@media screen and (max-width: 768px)  {
    .filterinput {
     
      font-size: 12px;
      width: 200px;
      margin-left: 30px;
      position: relative;
      top: -30px;
    }


  }
  
