
.dark-mode {
  background-color: #2b2b2b;
  color: #ffffff;
  /* Add more styles for dark mode */
}



.text1{
  margin-left: 50px;
}
.text2{
  margin-right: 50px;
}  


@media screen and (max-width: 376px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* .group5{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  } */

  .text1{
    margin-left: 50px;
    font-size: 12px;
    
  }

  .text2{
    margin-right: 50px;
    font-size: 8px;
  }
}


@media screen and (min-width: 377px) and (max-width: 576px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* .group5{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  } */

  .text1{
    margin-left: 50px;
    font-size: 16px;
    
  }

  .text2{
    margin-right: 50px;
    font-size: 12px;
  }
}


@media screen and (min-width: 577px) and (max-width: 768px) {
  .text1{
    margin-left: 50px;
  }

  .text2{
    margin-right: 50px;
  }
} 


@media screen and (min-width: 769px) and (max-width: 992px) {
  .text1{
    margin-left: 50px;
  }

  .text2{
    margin-right: 50px;
  }
}


@media screen and (min-width: 993px) and (max-width: 1200px) {
  .text1{
    margin-left: 50px;
  }

  .text2{
    margin-right: 50px;
  }
} 


@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .text1{
    margin-left: 50px;
  }

  .text2{
    margin-right: 50px;
  }
} 
