
.dark-mode {
  background-color: #2b2b2b;
  color: #ffffff;
  /* Add more styles for dark mode */
}



.text1{
  margin-left: 230px;
}
.text2{
  margin-right: 210px;
}  




@media screen and (max-width: 576px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .group5{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

  .text1{
    margin-left: 70px;
    font-size: 20px;
    width: 200px;
  }

  .text2{
    margin-right: 1px;
    
  }
}


@media screen and (min-width: 577px) and (max-width: 768px) {
  .text1{
    margin-left: 80px;
  }

  .text2{
    margin-right: 70px;
  }
}


@media screen and (min-width: 769px) and (max-width: 992px) {
  .text1{
    margin-left: 90px;
  }

  .text2{
    margin-right: 80px;
  }
}


@media screen and (min-width: 993px) and (max-width: 1200px) {
  .text1{
    margin-left: 110px;
  }

  .text2{
    margin-right: 100px;
  }
} 


@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .text1{
    margin-left: 110px;
  }

  .text2{
    margin-right: 100px;
  }
} 
