
.custom-input {
    width: 500px;
    padding: 10px; 
    padding-left: 50px;
  }

  .custom-input::placeholder {
    color: #888; /* Set the color of the placeholder text */
    font-style: italic; 
    

  }


  @media screen and (min-width: 1201px) and (max-width: 1500px) {
    .custom-input {
      font-size: 14px;
      width: 500px;
    }
  } 


@media screen and (min-width: 993px) and (max-width: 1200px) {

  .custom-input {
    font-size: 14px;
    width: 400px;
  }
}




@media screen and (min-width: 769px) and (max-width: 992px) {
  .custom-input {
   
    font-size: 14px;
    width: 300px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px)  {
  .custom-input {
   
    font-size: 12px;
    width: 330px;
  }
}

@media screen and (max-width: 576px)  {
  .custom-input {
   
    font-size: 12px;
    width: 200px;
    
  }
}


